In [1]:
import numpy as np
from sklearn.cluster import KMeans
from scipy.special import comb
seed = 0

In [3]:
data = np.array([[2,10],[2,5],[8,4],[5,8],[7,5],[6,4],[1,2],[4,9]])
fix_init = np.array([[2,10],[5,8],[1,2]])

In [8]:
my_kmeans = KMeans(n_clusters=3, init=fix_init, random_state=seed, max_iter=1).fit(data)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/cluster/k_means_.py:896: RuntimeWarning: Explicit initial center position passed: performing only one init in k-means instead of n_init=10
  return_n_iter=True)

In [9]:
my_kmeans.cluster_centers_

array([[ 2. , 10. ],
       [ 6. ,  6. ],
       [ 1.5,  3.5]])

In [11]:
my_kmeans = KMeans(n_clusters=3, init=fix_init, random_state=seed).fit(data)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/cluster/k_means_.py:896: RuntimeWarning: Explicit initial center position passed: performing only one init in k-means instead of n_init=10
  return_n_iter=True)

In [12]:
my_kmeans.cluster_centers_

array([[3.66666667, 9.        ],
       [7.        , 4.33333333],
       [1.5       , 3.5       ]])

In [13]:
my_kmeans.predict(data)

array([0, 2, 1, 0, 1, 1, 2, 0], dtype=int32)

In [3]:
comb(N = 7, k = 7)

1.0

In [13]:
from scipy.special import comb
import pandas as pd
import numpy as np

In [4]:
def Euclidean_Ada_Bob(x):
    numerator = comb(N=7,k=x-3)*comb(N=990,k=10-x)
    denominator = comb(N=997,k=7)
    return(numerator/denominator)

In [5]:
def Euclidean_Ada_Cathy(x):
    numerator = comb(N=10,k=x)*comb(N=990,k=10-x)
    denominator = comb(N=1000,k=10)
    return(numerator/denominator)

In [20]:
Ada_Bob = pd.DataFrame({'x':[x for x in range(3,11)],
                        'Euclidean_Distance':[np.sqrt(x) for x in range(3,11)],
                        'Probablity':[Euclidean_Ada_Bob(x) for x in range(3,11)]})
Ada_Bob

    x  Euclidean_Distance    Probablity
0   3            1.732051  9.517334e-01
1   4            2.000000  4.739323e-02
2   5            2.236068  8.660691e-04
3   6            2.449490  7.319719e-06
4   7            2.645751  2.966451e-08
5   8            2.828427  5.404466e-11
6   9            3.000000  3.643051e-14
7  10            3.162278  5.256928e-18

In [26]:
Ada_Cathy = pd.DataFrame({'x':[x for x in range(1,11)],
                          'Euclidean_Distance':[np.sqrt(x) for x in range(1,11)],
                          'Probablity':[Euclidean_Ada_Cathy(x) for x in range(1,11)]})
Ada_Cathy

    x  Euclidean_Distance    Probablity
0   1            1.000000  9.214765e-02
1   2            1.414214  3.800387e-03
2   3            1.732051  8.247703e-05
3   4            2.000000  1.026772e-06
4   5            2.236068  7.505338e-09
5   6            2.449490  3.171627e-11
6   7            2.645751  7.344917e-14
7   8            2.828427  8.363392e-17
8   9            3.000000  3.758406e-20
9  10            3.162278  3.796369e-24

In [42]:
Ada_Cathy.Probablity[Ada_Cathy.x == 2]

1    0.0038
Name: Probablity, dtype: float64

In [47]:
t = 0
t = t + np.unwrap(Ada_Cathy.Probablity[Ada_Cathy.x == 2])
t

array([0.00380039])

In [50]:
prob = 0
for x in range(3,10):
    AddCathy_probsum = 0
    for y in range(x+1,11):
        AddCathy_probsum += np.unwrap(Ada_Cathy.Probablity[Ada_Cathy.x == y])
    prob += np.unwrap(Ada_Bob.Probablity[Ada_Bob.x == x])*AddCathy_probsum

In [51]:
prob

array([9.8474368e-07])

In [55]:
Ada_Bob = pd.DataFrame({'x':[x for x in range(3,11)],
                        'Euclidean_Distance':[np.sqrt(x) for x in range(3,11)],
                        'Jaccard_Distance':[x/(20-x) for x in range(3,11)],
                        'Probablity':[Euclidean_Ada_Bob(x) for x in range(3,11)]})
Ada_Bob

    x  Euclidean_Distance  Jaccard_Distance    Probablity
0   3            1.732051          0.176471  9.517334e-01
1   4            2.000000          0.250000  4.739323e-02
2   5            2.236068          0.333333  8.660691e-04
3   6            2.449490          0.428571  7.319719e-06
4   7            2.645751          0.538462  2.966451e-08
5   8            2.828427          0.666667  5.404466e-11
6   9            3.000000          0.818182  3.643051e-14
7  10            3.162278          1.000000  5.256928e-18

In [53]:
Ada_Cathy = pd.DataFrame({'x':[x for x in range(1,11)],
                          'Euclidean_Distance':[np.sqrt(x) for x in range(1,11)],
                          'Jaccard_Distance':[x/(20-x) for x in range(1,11)],
                          'Probablity':[Euclidean_Ada_Cathy(x) for x in range(1,11)]})
Ada_Cathy

    x  Euclidean_Distance  Jaccard_Distance    Probablity
0   1            1.000000          0.052632  9.214765e-02
1   2            1.414214          0.111111  3.800387e-03
2   3            1.732051          0.176471  8.247703e-05
3   4            2.000000          0.250000  1.026772e-06
4   5            2.236068          0.333333  7.505338e-09
5   6            2.449490          0.428571  3.171627e-11
6   7            2.645751          0.538462  7.344917e-14
7   8            2.828427          0.666667  8.363392e-17
8   9            3.000000          0.818182  3.758406e-20
9  10            3.162278          1.000000  3.796369e-24

In [56]:
prob = 0
for x in range(3,11):
    AddCathy_probsum = 0
    for y in range(1,x):
        AddCathy_probsum += np.unwrap(Ada_Cathy.Probablity[Ada_Cathy.x == y])
    prob += np.unwrap(Ada_Bob.Probablity[Ada_Bob.x == x])*AddCathy_probsum
prob

array([0.09595202])